html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  /* grid-area: canvas; */
  /* position: absolute; */
  border: 2px solid black;
  /* margin-left: 1vw; */
  /* top: 5vh; */
  /* z-index: 1; */
}
